@use '../../sass/mixins' as mixins;

.nav {
    display: flex;
    justify-content: space-between;
    padding-block: 1.5em;
    background-color: var(--clr-element);

    h1 a {
        text-decoration: none;
        color: inherit;
    }

    button {
        display: flex;
        gap: 0.5em;
        align-items: center;
        color: inherit;
        font-weight: 600;
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;

        &::before {
            content: '';
            background-size: contain;
            display: block;
            padding-inline-start: 1em;
            width: 1.125em;
            height: 1.125em;
            background-image: url('/icon/moon-light.svg');
        }

        @include mixins.theme(dark, '&::before') {
            background-image: url('/icon/moon-dark.svg');
        }
    }
}
