@use './sass/reset';
@use './sass/mixins' as mixins;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

html {
    font-family: 'Nunito Sans', sans-serif;
}

body.light {
    --clr-element: hsl(0, 0%, 100%);
    --clr-bg: hsl(0, 0%, 98%);
    --clr-txt: hsl(200, 15%, 8%);
    --clr-input: hsl(0, 0%, 52%);
}

body.dark {
    --clr-element: hsl(209, 23%, 22%);
    --clr-bg: hsl(207, 26%, 17%);
    --clr-txt: hsl(0, 0%, 100%);
    --clr-input: hsl(0, 0%, 88%);
}

body {
    --padding-inline: 5em;
    background-color: var(--clr-bg);
    color: var(--clr-txt);
    padding-bottom: 2em;

    @include mixins.mq(tablet-s) {
        --padding-inline: 3em;
    }

    @include mixins.mq(mobile) {
        --padding-inline: 2em;
    }
}

ul {
    padding: 0;
}

main,
nav {
    padding-inline: var(--padding-inline);
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
}

.spinner {
    width: fit-content;
    margin-block: 2em;
    margin-inline: auto;
}

.bold {
    font-weight: 600;
}

.hover-scale {
    transition: transform 100ms ease-in;

    &:hover,
    &:focus-visible {
        transform: scale(1.08);
    }
}
